body {
    background-color: #141414;
}

.icona {
    font-size: 30px;
}

.card {
    transition: 0.3s;
    border-style: none;
}

.card:hover {
    transform: scale(1.3);
    z-index: 1;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    font-size: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }


